.node--type-case-study {
  &.node--view-mode-full {
    .field--name-field-cover {
      margin-bottom: 100px;
    }

    .field--name-field-highlights {
      margin-bottom: 150px;

      > .field--item {
        padding-bottom: 50px;
        border-bottom: 1px solid #d8d8d8;
        margin-bottom: 50px;

        .paragraph--type--title-and-text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media (max-width: @screen-sm - 1) {
            flex-direction: column;
          }

          .field--name-field-title {
            flex-basis: 50%;
            font-size: 38px;
            @media (max-width: @screen-sm - 1) {
              margin-bottom: 30px;
            }
          }

          .field--name-field-body {
            flex-basis: 50%;

          }
        }

        &:last-child {
          border: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }

    > .field--name-body {
      margin-bottom: 150px;

      img {
        max-width: 100%;
      }
    }
  }

  &.node--view-mode-teaser {
    border-radius: 10px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.08);
    position: relative;
    transition: 0.3s all;
    bottom: 0;

    .field--name-field-image {
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: @zircon;
      border-radius: 10px;

      img {
        width: 200px;
        border-radius: 10px;
        height: 125px;
        object-fit: cover;
      }
    }

    .bottom-container {
      text-align: center;
      padding: 30px;

      .field--name-node-title {
        margin-bottom: 10px;
        text-align: center;

        h3 {
          margin: 0;
          font-size: 26px;
          font-weight: 300;

          a {
            color: @mine-shaft;

            &:hover {
              text-decoration: none;
            }

            &:before {
              position: absolute;
              content: '';
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
            }
          }
        }
      }
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
      transition: all 0.25s ease-in-out;
    }
  }
}

.homepage-case-studies {
  .slick-track {
    margin-bottom: 50px;
  }

  .slick-dots {
    position: static;

    li {
      button {
        &:before {
          color: #8c8c8c;
          font-size: 16px;
        }
      }

      &.slick-active {
        button {
          &:before {
            color: @twine;
          }
        }
      }
    }
  }
}

.landing-page-case-studies {
  .col {
    margin-bottom: 60px;
  }
}


.field--name-body {
  table {
    color: @twine;
    border-color: @twine;
    text-align: center;
    width: 100% !important;

    td {
      padding: 10px;
    }
  }
}