// Clients
.block-content--type-clients {
  margin-bottom: 150px;

  .title-wrapper {
    .field--name-field-title {
      .block-title();
      margin-bottom: 30px;
      font-family: @headings-font-family;
    }

    .field--name-field-sub-title {
      .block-title();
      .sub-title()
    }
  }

  .field--name-field-images {
    text-align: center;

    .slick-list {
      .slick-track {
        display: flex;
        align-items: center;
        margin-bottom: 70px;

        .slick-slide {
          img {
            filter: grayscale(1);
          }

          &.slick-center {
            img {
              filter: grayscale(0);
            }
          }
        }
      }
    }

    .slick-dots {
      position: static;

      li {
        button {
          &:before {
            color: #8c8c8c;
            font-size: 16px;
          }
        }

        &.slick-active {
          button {
            &:before {
              color: @twine;
            }
          }
        }
      }
    }

    img {
      max-width: 150px;
      display: inline-block;
    }
  }
}
