// Contact us page form
.path-contact-us {
  .block-webform {
    .block-title {
      color: @twine;
      margin-bottom: 40px;
      text-align: left;
      font-size: 34px;

      @media (max-width: @screen-sm - 1) {
        text-align: center;
      }
    }

    input {
      height: 50px;
      box-shadow: none;
      border-color: #e1e1e1;
    }

    textarea {
      box-shadow: none;
      border-color: #e1e1e1;
      resize: none;
      margin-bottom: 50px;
    }

    .form-actions {
      @media (max-width: @screen-sm - 1) {
        text-align: center;
      }

      button {
        font-weight: bold;
        padding: 10px 20px;
      }
    }
  }
}

// Homepage form
.path-frontpage {
  .block-webform {
    form {
      border-radius: 6px;
      box-shadow: 24px 24px 120px 0 rgba(231, 236, 240, 0.5);
      border: solid 1.2px #dededf;
      padding: 50px;

      input,
      textarea {
        border: none;
        box-shadow: none;
        border-bottom: 1px solid;
        border-radius: 0;
        padding-left: 0;
        padding-bottom: 15px;
        margin-bottom: 50px;
        resize: none;
        width: 100%;
        text-transform: capitalize;
      }

      .form-actions {
        button {
          font-weight: bold;
          padding: 10px 20px;
        }
      }
    }
  }
}

// How we can help block
.contact-information {
  margin-bottom: 100px;
  text-align: center;

  p {
    margin: 30px 0;
  }

  .item {
    @media (max-width: @screen-sm - 1) {
      margin-bottom: 70px;
    }

    &__image {
      margin-bottom: 20px;
      height: 71px;

      img {
        display: inline-block;
        text-align: center;
      }
    }

    &__title {
      color: @twine;
      font-size: 22px;
      margin-bottom: 20px;
    }

    &__info {
      color: @oslo;

      a {
        color: @oslo;
      }

      .social-links {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;

        li {
          margin-right: 15px;
        }
      }
    }
  }
}

// Map block
.umaia-map {
  @media (max-width: @screen-sm - 1) {
    margin-bottom: 50px;
  }

  iframe {
    width: 100%;
  }
}

// Homepage contact us block
.contact-us {
  padding-top: 150px;
  @media (max-width: @screen-sm - 1) {
    text-align: center;
  }

  h2,
  h3 {
    text-align: left;
    margin-bottom: 15px;

    @media (max-width: @screen-sm - 1) {
      text-align: center;
    }

    &.sub {
      margin-bottom: 40px;
    }
  }

  p {
    font-size: 20px;
    color: #96969d;
  }

  a {
    font-size: 20px;
    color: #333448;
  }
}

html[dir=rtl] {
  // Contact us page form
  .path-contact-us {
    .block-webform {
      .block-title {
        text-align: right;
      }
    }
  }

  // Homepage form
  .path-frontpage {
    .block-webform {
      form {
        box-shadow: 24px 0 120px 24px rgba(231, 236, 240, 0.5);

        input,
        textarea {
          padding-left: 12px;
          padding-right: 0;
        }
      }
    }
  }

  // Homepage contact us block
  .contact-us {
    h2,
    h3 {
      text-align: right;
      @media (max-width: @screen-sm - 1) {
        text-align: center;
      }
    }
  }
}


.captcha {
  margin-bottom: 30px;
}