@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap');
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Regular.otf") format('opentype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Regular.otf") format('opentype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/Proxima Nova Extrabold.otf") format('opentype');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/Proxima Nova Thin.otf") format('opentype');
  font-style: normal;
  font-weight: 300;
}
