.footer {
  background: url('../images/footer-background.png') center center no-repeat;
  background-size: cover;
  padding: 30px 0;
  position: relative;
  margin-top: 255px;

  .footer--left {
    @media (max-width: @screen-sm - 1) {
      text-align: center;
    }

    .logo {
      float: none !important;
      margin-bottom: 40px;
      display: inline-block;

      img {
        width: 220px;
      }
    }

    .menu--social-media-links {
      display: flex;
      @media (max-width: @screen-sm - 1) {
        justify-content: center;
        margin-bottom: 40px;
      }

      li {
        font-size: 0;
        margin-right: 20px;

        > a {
          padding: 0;

          &:hover {
            background-color: transparent;

            &:before {
              color: @coffe;
            }
          }

          &:before {
            font-size: 18px;
            color: white;
            transition: 0.3s all ease-in-out;
          }
        }
      }
    }
  }

  .footer--middle {
    .menu--main {
      float: none;
      @media (max-width: @screen-sm - 1) {
        text-align: center;
        margin-bottom: 40px;
      }

      > li {
        float: none;
        margin-bottom: 15px;
        font-size: 20px;

        > a {
          padding: 0;
          color: @white;

          &:hover {
            background-color: transparent;
            color: @coffe;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .footer--right {
    color: @white;
    @media (max-width: @screen-sm - 1) {
      font-size: 22px;
      text-align: center;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: -198px;
    right: 0;
    width: 468px;
    background: url(../images/footer-image.svg) center center no-repeat;
    background-size: cover;
    height: 205px;

    @media (max-width: @screen-sm - 1) {
      width: 300px;
      height: 123px;
      top: -122px;
    }
  }
}
