.node--type-gallery {
  &.node--view-mode-teaser {
    position: relative;

    .field--name-field-image {
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
      }
    }

    .caption-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: @white;
      padding: 30px;
      pointer-events: none;

      .field--name-node-title {
        h3 {
          font-weight: bold;
        }
      }
    }
  }
}

.gallery {
  .view-content {
    margin: 0 -15px 30px -15px;

    .views-row {
      display: inline-block;
      margin-bottom: 15px;
      height: 200px;
      width: 33.33%;
      padding: 0 15px;
      @media (max-width: @screen-sm - 1) {
        width: 100%;
      }

      .views-field-field-image {
        height: 100%;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);
        border-radius: 8px;

        .field-content {
          height: 100%;

          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }

      // 1 3 5 7
      &:nth-child(2n+1) {
        height: 415px;
      }
    }
  }

  .more-link {
    text-align: center;

    > a {
      .btn();
      padding: 10px 20px;
      background-color: @twine;
      color: @white;
    }
  }

  &.landing-page-gallery {
    .views-row {
      height: 300px;

      &:nth-child(2n+1) {
        height: 300px;
      }
    }
  }
}

.block-views-blockgallery-homepage-gallery {
  h2 {
    margin-bottom: 80px;
  }
}