.navbar {
  padding: 10px 0;
  border-color: @twine;

  .navbar-header {
    .navbar-toggle {
      > span.icon-bar {
        transition: all 0.2s;
        height: 6px;
        width: 38px;

        &.top-bar {
          transform: rotate(45deg);
          transform-origin: 10% 10%;
        }

        &.middle-bar {
          opacity: 0;
        }

        &.bottom-bar {
          transform: rotate(-45deg);
          transform-origin: 10% 90%;
        }
      }

      &.collapsed {
        > span.icon-bar {
          &.top-bar,
          &.bottom-bar {
            transform: rotate(0);
          }

          &.middle-bar {
            opacity: 1;
          }
        }
      }
    }

    .logo {
      img {
        width: 200px;
        @media (max-width: @screen-md - 1) {
          max-width: 120px;
        }
      }
    }
  }

  .navbar-collapse {
    .region-navigation-collapsible {
      float: right;
      @media (max-width: @screen-sm - 1) {
        float: none;
      }

      #block-umaia-main-menu {
        float: left;
        @media (max-width: @screen-sm - 1) {
          float: none;
        }

        .menu--main {
          float: right;
          @media (min-width: @screen-md) {
            margin-top: 15px;
          }
          @media (max-width: @grid-float-breakpoint-max) {
            float: none;
            text-align: center;
          }

          > li {
            font-weight: bold;
            @media (min-width: @screen-sm)  and (max-width: @screen-md - 1) {
              font-size: 12px;
            }

            a {
              text-transform: capitalize;

              &:hover,
              &.is-active {
                background-color: transparent;
                border-bottom: 1px solid @white;
                color: @white;
                display: inline-block;
              }
            }
          }
        }
      }

      .language-switcher-language-url {
        float: left;
        @media (max-width: @screen-sm - 1) {
          text-align: center;
          float: none;
        }

        .links {
          padding: 0;
          list-style: none;
          margin-top: 25px;

          @media (min-width: @screen-sm) and (max-width: @screen-md - 1) {
            margin-top: 10px;
          }

          li[hreflang="ar"],
          li[hreflang="en"] {
            display: inline-flex;
            align-items: center;

            a {
              color: @white;
              font-weight: bold;
              margin: 0 10px;
            }

            &:after {
              content: '\f0ac';
              display: inline-block;
              font-family: "fontawesome";
              font-size: 18px;
              color: @white;
            }
          }
        }
      }
    }
  }
}

html[dir=rtl] {
  .navbar {
    .navbar-header {
      .logo {
        margin-right: 0;
        margin-left: -15px;
      }
    }

    .navbar-collapse {
      .region-navigation-collapsible {
        float: left;
        @media (max-width: @screen-sm - 1) {
          float: none;
        }

        #block-umaia-main-menu {
          float: right;
          @media (max-width: @screen-sm - 1) {
            float: none;
          }

          .menu--main {
            float: left;

            @media (max-width: @screen-sm - 1) {
              float: none;
            }
          }
        }

        .language-switcher-language-url {
          float: right;

          @media (max-width: @screen-sm - 1) {
            text-align: center;
            float: none;
          }
        }
      }
    }
  }
}
