.umaia-homepage {
  &__smoked-background {
    background: #fafafc;
    background-size: cover;
    padding-bottom: 370px;
    position: relative;

    .block-content--type-image {
      margin-bottom: 150px;

      .field--name-field-title {
        .block-title();
        font-family: @headings-font-family;
      }

      .field--name-field-sub-title-long {
        .block-title();
        margin-bottom: 80px;
        font-weight: normal;
        font-family: @headings-font-family;
        font-size: 20px;  
      }

      .field--name-field-image {
        img {
          max-width: 400px;
          margin: auto;
          @media (max-width: @screen-sm - 1) {
            width: 100%;
          }
        }
      }
    }

    .node--type-service {
      &.node--view-mode-teaser {
        .flex-wrapper {
          .right {
            .field--name-field-image {
              position: relative;

              img {
                position: relative;
                z-index: 1;
              }

              &:after {
                content: '';
                display: block;
                position: absolute;
                left: -100px;
                right: 0;
                top: -70px;
                bottom: 0;
                background: url("../images/service-background.svg") center center no-repeat;
                background-size: cover;
              }
            }
          }
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: -2px;
      height: 320px;
      background: url("../images/product-top-wave.svg") center center no-repeat;
      background-size: cover;
    }

    &:before {
      content: '';
      position: absolute;
      top: 300px;
      right: 0;
      background: url("../images/smoked-icon.png") center center no-repeat;
      background-size: contain;
      width: 200px;
      height: 350px;
    }
  }

  &__twined-background {
    background: @whiskey;
    background-size: cover;
    padding: 50px 0;

    .block-title {
      color: white;
    }

    .node--type-service {
      margin-bottom: 100px;

      &.node--view-mode-teaser {
        .flex-wrapper {
          .left {
            .field--name-node-title {
              h3 {
                a {
                  color: white;

                  &:hover {
                    color: darken(white, 10%);
                  }
                }
              }
            }

            .field--name-field-sub-title {
              a {
                color: white;

                &:hover {
                  color: darken(white, 10%);
                }
              }
            }

            .field--name-body {
              color: @white;
            }

            .field--name-node-link {
              a {
                background-color: @white;
                color: @twine;
                transition: 0.5s all;

                &:hover {
                  background-color: @coffe;
                  color: @white;
                }
              }
            }
          }
        }
      }
    }
  }

  &__middle-section {
    padding-top: 370px;
    position: relative;

    .node--type-service {
      margin-bottom: 150px;
    }

    .block-content--type-image {
      margin-bottom: 150px;
    }

    &:after {
      content: '';
      background: url("../images/product-bottom-wave.svg") center center no-repeat;
      background-size: cover;
      .bg-edge2edge();
      position: absolute;
      top: 0;
      height: 320px;

    }
  }
}
