.mailchimp-signup-subscribe-form {
  .bg-edge2edge();
  padding: 50px 0;
  background-color: @shingle;
  color: @white;
  margin-bottom: 150px;

  h2 {
    font-weight: bold;
    @media (max-width: @screen-sm - 1) {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  form {
    display: flex;
    @media (max-width: @screen-sm - 1) {
      flex-direction: column;
      text-align: center;
      font-size: 20px;
    }

    .form-description {
      flex-basis: 65%;
    }

    .mailchimp-newsletter-mergefields {
      flex-basis: 52%;
      padding-left: 30px;
      @media (max-width: @screen-sm - 1) {
        padding: 0;
        flex-basis: 100%;
      }
      @media (min-width: @screen-sm) and (max-width: @screen-md - 1) {
        flex-basis: 75%;
      }

      .form-item {
        label {
          display: none;
        }

        input {
          height: 60px;
          border-radius: 4px 0 0 4px;
          text-transform: capitalize;
          @media (max-width: @screen-sm - 1) {
            border-radius: 80px;
            margin: 30px 0;
          }
        }
      }
    }

    .form-actions {
      button {
        height: 60px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        min-width: 160px;
        background-color: @twine;
        border: 0;
        text-transform: capitalize;
        color: @white;
        margin: 0;
        @media (max-width: @screen-sm - 1) {
          border-radius: 30px;
          padding: 15px 30px;
          font-size: 24px;
        }
      }
    }
  }
}

html[dir="rtl"] {
  .mailchimp-signup-subscribe-form {
    form {
      display: flex;

      .mailchimp-newsletter-mergefields {
        padding-left: 0;
        padding-right: 30px;

        .form-item {
          input {
            border-radius: 0 4px 4px 0;
          }
        }
      }

      .form-actions {
        button {
          border-radius: 4px 0 0 4px;
        }
      }
    }
  }
}
