.node--type-product {
  &.node--view-mode-full {
    .field--name-field-cover {
      margin-bottom: 100px;

      img {
        margin: 0 auto;
      }
    }

    .field--name-field-specification {
      margin-bottom: 100px;

      .field--item {
        margin-bottom: 20px;

        .paragraph--type--title-and-text {
          display: flex;
          justify-content: space-between;

          .field--name-field-title {
            flex-basis: 20%;
            color: @twine;
            letter-spacing: 2px;
            text-transform: uppercase;
          }

          .field--name-field-body {
            flex-basis: 70%;
          }
        }
      }
    }

    .field--name-body {
      margin-bottom: 75px;
    }
  }

  &.node--view-mode-teaser,
  &.node--view-mode-large-teaser {
    .flex-wrapper {
      display: flex;
      justify-content: space-between;
      @media (max-width: @screen-sm - 1 ) {
        flex-direction: column;
      }
    }

    .left {
      flex-basis: 48%;
      @media (max-width: @screen-sm - 1) {
        margin-bottom: 50px;
      }

      img {
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
      }
    }

    .right {
      flex-basis: 48%;
      @media (max-width: @screen-sm - 1) {
        text-align: center;
      }

      .field--name-node-title {
        h3 {
          margin-top: 0;
          margin-bottom: 30px;
          font-size: 40px;

          a {
            color: white;

            &:hover {
              text-decoration: none;
              color: darken(white, 10%);
            }
          }
        }
      }

      .field--name-field-specification {
        > .field--item {
          border-bottom: 1px solid white;
          padding-bottom: 10px;
          margin-bottom: 10px;

          .field--name-field-title {
            font-size: 26px;
            color: white;
          }

          .field--name-field-body {
            display: none;
          }
        }
      }

      .field--name-field-links {
        display: flex;
        justify-content: space-between;

        .field--item {
          flex-basis: 50%;
          position: relative;

          > a {
            height: 50px;
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            padding-left: 50px;
            color: @coffe;

            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 50px;
              bottom: 0;
              display: block;
            }

            &:hover {
              color: @white;
            }
          }
        }
      }
    }

    // Die cut Node
    &[data-history-node-id="47"] {
      .right {
        .field--name-field-links {
          .field--item {
            &:first-child {
              a {
                &:before {
                  background: url(../images/pdf-icon.png) no-repeat;
                  background-size: contain;
                }

                &:hover {
                  &:before {
                    background: url(../images/pdf-icon--hover.png) no-repeat;
                    background-size: contain;
                  }
                }
              }
            }

            &:nth-child(2) {
              a {
                &:before {
                  background: url(../images/pdf-icon.png) no-repeat;
                  background-size: contain;
                }

                &:hover {
                  &:before {
                    background: url(../images/pdf-icon--hover.png) no-repeat;
                    background-size: contain;
                  }
                }
              }
            }
          }
        }
      }
    }

    // Promotional display node
    &[data-history-node-id="48"] {
      .right {
        .field--name-field-links {
          .field--item {
            &:first-child {
              a {
                &:before {
                  background: url(../images/pdf-icon.png) no-repeat;
                  background-size: contain;
                }

                &:hover {
                  &:before {
                    background: url(../images/pdf-icon--hover.png) no-repeat;
                    background-size: contain;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.node--view-mode-large-teaser {
    .flex-wrapper {
      .right {
        .field--name-node-title {
          h3 {
            a {
              color: @coffe;

              &:hover,
              &:focus {
                color: darken(@coffe, 10%);
              }
            }
          }
        }

        .field--name-node-link {
          text-align: right;

          a {
            .btn();
            .btn-primary();
            padding: 10px 20px;
            transition: 0.5s all;

            &:hover {
              background-color: @white;
              color: @twine
            }
          }
        }

        .field--name-field-specification {
          margin-bottom: 20px;

          > .field--item {
            border-bottom: 1px solid @coffe;

            .field--name-field-title {
              color: @coffe;
            }
          }
        }
      }
    }
  }
}

.products {
  .views-row {
    margin-bottom: 100px;

    &.omaia-products {
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.landing-page-products {
    .views-row {
      &:nth-child(even) {
        .flex-wrapper {
          flex-direction: row-reverse;
          @media (max-width: @screen-sm - 1) {
            flex-direction: column;
          }
        }
      }
    }
  }
}

.block-content--type-omaia-products {
  margin-bottom: 200px;

  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: @screen-sm - 1) {
      flex-direction: column;
    }

    .left {
      flex-basis: 48%;

      .field--name-field-image {
        @media (max-width: @screen-sm - 1) {
          margin-bottom: 30px;
        }
      }
    }

    .right {
      flex-basis: 48%;

      .field--name-field-title {
        font-size: 40px;
        font-family: @headings-font-family;
        font-weight: bold;
        line-height: 1;
      }

      .field--name-field-sub-title {
        margin-bottom: 30px;
        font-size: 40px;
        font-family: @headings-font-family;
        line-height: 1;
      }

      .field--name-body {
        font-size: 18px;
        margin-bottom: 20px;
      }

      .field--name-field-link {
        a {
          .btn();
          .btn-primary();
          padding: 10px 20px;
          transition: 0.5s all;

          &:hover {
            background-color: @white;
            color: @twine
          }
        }
      }
    }
  }
}

.block-region-content {
  .block-block-content {
    &:nth-child(even) {
      .flex-wrapper {
        flex-direction: row-reverse;
        @media (max-width: @screen-sm - 1) {
          flex-direction: column;
        }
      }
    }
  }
}

html[dir="rtl"] {
  .node--type-product {
    &.node--view-mode-teaser {
      .right {
        .field--name-field-links {
          .field--item {
            > a {
              padding-left: 0;
              padding-right: 60px;

              &:before {
                left: auto;
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}
