.node--type-service {
  &.node--view-mode-teaser {
    .flex-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: @screen-sm - 1 ) {
        flex-direction: column-reverse;
        align-items: normal;
      }

      .left {
        flex-basis: 48%;
        @media (max-width: @screen-sm - 1) {
          text-align: center;
        }

        .field--name-node-title {
          h3 {
            font-size: 40px;
            margin: 0;
            font-weight: bold;
            margin-bottom: 15px;

            a {
              color: @coffe;

              &:hover {
                color: darken(@coffe, 10%);
                text-decoration: none;
              }
            }
          }
        }

        .field--name-field-sub-title {
          margin-bottom: 30px;
          font-family: @headings-font-family;
          font-size: 40px;

          a {
            color: @coffe;
            line-height: 1;

            &:hover {
              color: darken(@coffe, 10%);
              text-decoration: none;
            }
          }
        }

        .field--name-body {
          margin-bottom: 30px;
        }

        .field--name-node-link {
          a {
            padding: 10px 20px;
          }
        }
      }

      .right {
        flex-basis: 48%;

        .field--name-field-image {
          @media (max-width: @screen-sm - 1) {
            margin-bottom: 50px;
          }

          img {
            box-shadow: 0 10px 16px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.3);
            @media (max-width: @screen-sm - 1) {
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  &.node--view-mode-full {
    .field--name-field-cover {
      margin-bottom: 100px;

      img {
        margin: 0 auto;
      }
    }
  }
}
