.node--type-slider {
  &.node--view-mode-teaser {
    outline: 0;

    .flex-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: @screen-sm - 1) {
        flex-direction: column-reverse;
      }
    }

    .left {
      flex-basis: 45%;
      @media (max-width: @screen-sm - 1) {
        text-align: center;
      }

      .field--name-node-title {
        h3 {
          margin: 0;
          color: @white;
          font-size: 40px;
          font-weight: bold;
          margin-bottom: 15px;
        }
      }

      .field--name-field-sub-title {
        color: white;
        font-size: 40px;
        line-height: 1;
        margin-bottom: 30px;
        font-family: @headings-font-family;
      }

      .field--name-field-body {
        margin-bottom: 30px;
        color: @white;
      }

      .field--name-field-link {
        > a {
          .btn();
          background-color: white;
          color: @twine;
          padding: 10px 20px;
          font-size: 14px;
          transition: all 0.3s;

          &:active {
            box-shadow: none;
          }
        }
      }
    }

    .right {
      flex-basis: 45%;

      @media (max-width: @screen-sm - 1) {
        margin-bottom: 30px;
      }
    }
  }
}

.block-views-blockslider-homepage-slider {
  .bg-edge2edge();
  padding-top: 100px;
  background: #c69d66;
  position: relative;

  .homepage-slider {
    .container();

    .slick-list {
      margin-bottom: 100px;
      @media (max-width: @screen-sm -1) {
        margin-bottom: 20px;
      }

      .slick-slide {
        outline: 0;
      }
    }

    .slick-dots {
      bottom: -50px;
      z-index: 9;

      li {
        button {
          &:before {
            color: @white;
            font-size: 16px;
          }
        }
      }
    }
  }
}
