.block-content--type-engview-style {
  background-color: @white;
  text-align: center;
  box-shadow: 0 30px 70px 0 rgba(226, 232, 236, 0.5);
  padding: 30px;
  @media (max-width: @screen-md - 1) {
    margin-bottom: 30px;
  }

  .field--name-field-title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
  }

  .field--name-field-image {
    img {
      margin: auto;
      width: 160px;
      height: 150px;
      object-fit: contain;
    }
  }

  .field--name-block-description {
    margin-bottom: 20px;

    h2 {
      font-weight: bold;
    }
  }

  .field--name-field-link {
    background: url(../images/download3d.jpg) center center no-repeat;
    height: 57px;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    transition: all 0.3s linear;
    @media (max-width: @screen-md - 1) {
      justify-content: center;
    }

    a {
      font-weight: bold;
      color: #866742;
      transition: all 0.3s linear;
      padding: 0 15px;
      justify-content: flex-end;
      align-items: center;
      font-size: 14px;
      display: inline-flex;

      &:hover {
        color: #45321b;
      }
    }

    &:hover {
      background: url(../images/download3d-hover.jpg) center center no-repeat;
      background-size: contain;
    }
  }
}


.engview-styles {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .views-row {
      padding: 0 15px;
      margin-bottom: 30px;
      @media (max-width: @screen-sm - 1) {
        width: 100%;
      }
      @media (min-width: @screen-sm) and (max-width: @screen-md - 1) {
        width: 50%;
      }
      @media (min-width: @screen-md) and (max-width: @screen-lg - 1) {
        width: 33.33%;
      }
      @media (min-width: @screen-lg) {
        width: 25%;
      }
    }
  }
}
