// Bootstrap Framework.
@import 'bootstrap';
// Base-theme overrides.
@import 'overrides';
// Homepage
@import "homepage.theme.less";
// Fonts
@import "fonts.theme.less";
@import url('https://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
// Header
@import "header.theme.less";
// Slider
@import "slider.theme.less";
// Video
@import "video.theme.less";
// Service
@import "service.theme.less";
// Case study
@import "case-study.theme.less";
// Product
@import "product.theme.less";
// Newsletter
@import "newsletter.theme.less";
// Clients
@import "clients.theme.less";
// Testimonial
@import "testimonial.theme.less";
// Gallery
@import "gallery.theme.less";
// Contact us
@import "contact-us.theme.less";
// Engview Styles
@import "styles.theme.less";
// Footer
@import "footer.theme.less";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.btn {
  text-transform: capitalize;
}

img {
  border-radius: 8px;
}

a {
  text-decoration: none !important;
  outline: none !important;

  &:hover,
    &:focus {
    text-decoration: none !important;
    outline: none !important;
    
    img {
      opacity: 0.5;
    }
  }
  
}

.field--name-body {
  img {
    max-width: 100%;
  }
}

.slick-dots {
  li:only-child {
    display: none;
  }
}

// Class for full width elements
.bg-edge2edge {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

// Custom header
.path-frontpage {
  .custom-header {
    display: none;
  }
}

.custom-header {
  background: @twine;
  background-size: cover;
  padding: 28px 0;
  margin-bottom: 300px;

  h1 {
    padding: 0;
    border: 0;
    color: white;
    font-size: 58px;
    margin: 0;
    text-transform: capitalize;

    @media (max-width: @screen-phone) {
      font-size: 34px;
    }
  }

  &:after {
    content: '';
    width: 215px;
    height: 100%;
    background: url(../images/header-background.png) no-repeat;
    position: absolute;
    top: 0;
    right: 200px;
    bottom: 0;
    background-size: contain;
  }

  &:before {
    content: '';
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: absolute;
    height: 320px;
    background: url(/themes/custom/umaia/images/slider-wave.svg) center center no-repeat;
    background-size: cover;
    margin-bottom: 128px;
    bottom: -350px;
    z-index: -1;
  }
}

// Block title
.block-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  color: @coffe;

  &.sub-title {
    margin-bottom: 80px;
    font-weight: normal;
  }
}

// Page full
.page {
  &.full {
    img {
      width: 100%;
    }
  }
}

// General block margin
.block-views-blockgallery-homepage-gallery,
.block-views-blockcase-studies-homepage-case-studies {
  margin-bottom: 150px;
}

//General slick
.slick-list {
  .slick-track {
    .slick-slide {
      outline: 0;
    }
  }
}

// Colorbox
#colorbox {
  #cboxLoadedContent {
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:focus {
      outline: 0;
    }
  }

  &:focus {
    outline: 0;
  }
}

// Engview
.engview-block {
  margin-top: 150px;

  > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .item {
      text-align: center;
      flex-basis: 33.33%;
      padding: 0 15px;
      @media (max-width: @screen-sm - 1) {
        flex-basis: 50%;
        padding: 0px;
      }

      > a {
        display: block;
        color: #2f2f2f;
        background-color: @white;
        border-radius: 5px;
        box-shadow: 0 30px 70px 0 rgba(226, 232, 236, 0.5);
        margin-bottom: 50px;
        padding: 35px;
        font-size: 22px;
        letter-spacing: 2px;
        font-family: @headings-font-family;
        border: 1px solid transparent;

        &:hover,
          &:focus {
          text-decoration: none;
          border: 1px solid #8b572a;
          outline: 0;
        }
      }
    }
  }
}

// Pager
.pager-nav {
  padding: 30px 0;
}

// Back to top
#backtotop {
  background-color: @coffe;
  background-image: none;
  text-indent: 0;
  font-size: 0;
  border-radius: 8px;

  &:after {
    content: '\f077';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: "fontawesome";
    color: @white;
    font-size: 40px;
  }
}

html[dir="rtl"] {
  .custom-header {
    &:after {
      left: 200px;
      right: auto;
    }
  }
}
