.block-views-blocktestimonials-testimonials {
  position: relative;
  min-height: 500px;
  background: url("../images/testimonails-background.jpg") center center no-repeat;
  background-size: contain;
  @media (min-width: @screen-md) and (max-width: @screen-lg - 1) {
    background-position-x: 100%;
  }
  @media (max-width: @screen-sm - 1) {
    background: none;
  }

  .testimonials {
    position: relative;

    .view-content {
      padding: 35px;
      background-color: @coffe;
      width: 400px;
      color: @white;
      position: absolute;
      left: 0;
      top: -100px;
      @media (max-width: @screen-sm - 1) {
        width: 100%;
      }

      .node--type-testimonial {
        position: relative;
        padding-bottom: 100px;

        .field--name-field-body {
          &:before {
            content: '';
            display: block;
            background: url("../images/quote.svg") center center no-repeat;
            background-size: cover;
            width: 48px;
            height: 32px;
            margin-bottom: 20px;
          }
        }

        .flex-wrapper {
          position: absolute;
          left: 0;
          bottom: 20px;
          right: 0;
          display: flex;

          .left {
            .field--name-field-image {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin: 0 20px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
              }
            }
          }
        }
      }


      .slick-dots {
        right: -70px;
        bottom: 70px;

        li {
          button {
            &:before {
              border: 1px solid white;
              border-radius: 50%;
              color: transparent;
              width: 10px;
              height: 10px;
            }
          }

          &.slick-active {
            button {
              &:before {
                background-color: white;
              }
            }
          }
        }
      }
    }
  }
}

html[dir="rtl"] {
  .block-views-blocktestimonials-testimonials {
    @media (min-width: @screen-md) and (max-width: @screen-lg - 1) {
      background-position-x: 0;
    }

    .testimonials {
      .view-content {
        left: auto;
        right: 0;

        .slick-dots {
          left: -70px;
          right: auto;
        }
      }
    }
  }

}
