/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';
// Colors
@white: white;
@coffe: #574227;
@twine: #c69d66;
@whiskey: #D3A872;
@tundora: #484848;
@zircon: #f8fbff;
@mine-shaft: #2f2f2f;
@shingle: #705431;
@oslo: #8b8d90;

// Fonts
@font-family-base: 'ProximaNova', 'Droid Arabic Kufi', sans-serif;
@headings-font-family: 'Raleway', 'Droid Arabic Kufi', sans-serif;
@font-size-base: 16px;

//** Global text color on `<body>`.
@text-color: @tundora;

// Basics of a navbar
@navbar-margin-bottom: 0;
@navbar-border-radius: 0;
@navbar-default-bg: @twine;
@navbar-default-color: @white;
@navbar-default-link-color: @white;

// Navbar toggle
@navbar-default-toggle-hover-bg: transparent;
@navbar-default-toggle-icon-bar-bg: @white;
@navbar-default-toggle-border-color: transparent;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight: 600;
@btn-primary-color: #fff;
@btn-primary-bg: @twine;
@btn-primary-border: @twine;
@btn-border-radius-base: 5px;


//== Pagination

@pagination-color: @mine-shaft;
@pagination-bg: transparent;
@pagination-border: none;

@pagination-hover-color: @white;
@pagination-hover-bg: @coffe;
@pagination-hover-border: @coffe;

@pagination-active-color: @white;
@pagination-active-bg: @coffe;
@pagination-active-border: @coffe;
