.block-content--type-video {
  padding: 300px 0;
  position: relative;

  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: @screen-sm - 1) {
      flex-direction: column;
    }

    .left {
      flex-basis: 48%;
      @media (max-width: @screen-sm - 1) {
        margin-bottom: 50px;
      }

      .field--name-field-image {
        a {
          display: block;
          position: relative;

          img {
            width: 100%;
          }

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(to right, #050a0c, #070d10 3%, #0d1c23 18%, #122631 35%, #152c39 58%, #162e3b);
            opacity: 0.48;
            border-radius: 8px;
          }

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url("../images/play-btn.svg") center center no-repeat;
            width: 200px;
            height: 200px;
            margin: auto;
            background-size: cover;
          }
        }
      }
    }

    .right {
      flex-basis: 48%;

      .field--name-field-title {
        font-size: 40px;
        font-family: @headings-font-family;
        font-weight: bold;
        line-height: 1;
        color: @coffe;
      }

      .field--name-field-sub-title {
        margin-bottom: 30px;
        font-size: 40px;
        font-family: @headings-font-family;
        line-height: 1;
        color: @coffe;
      }

      .field--name-body {
        font-size: 18px;
        margin-bottom: 20px;
        color: #505050;
      }
    }
  }

  &:before {
    content: '';
    .bg-edge2edge();
    position: absolute;
    height: 320px;
    background: url("../images/slider-wave.svg") center center no-repeat;
    background-size: cover;
    top: -90px;
  }

  &:after {
    content: '';
    height: 320px;
    background: url("../images/smoked-wave.svg") center center no-repeat;
    .bg-edge2edge();
    position: absolute;
    bottom: 0;
    background-size: cover;
  }
}
