{#
/**
 * @file
 * Default theme implementation for a two column layout.
 *
 * This template provides a two column display layout with full width areas at
 * the top, bottom and in the middle.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'layout',
  'layout--twocol-bricks',
]
%}
{% if content %}
  <div class="row">
    {% if content.top %}
      <div class="col-sm-12">
        {{ content.top }}
      </div>
    {% endif %}

    {% if content.first_above %}
      <div class="col-sm-6">
        {{ content.first_above }}
      </div>
    {% endif %}

    {% if content.second_above %}
      <div class="col-sm-6">
        {{ content.second_above }}
      </div>
    {% endif %}

    {% if content.middle %}
      <div class="col-sm-12">
        {{ content.middle }}
      </div>
    {% endif %}

    {% if content.first_below %}
      <div class="col-sm-6">
        {{ content.first_below }}
      </div>
    {% endif %}

    {% if content.second_below %}
      <div class="col-sm-6">
        {{ content.second_below }}
      </div>
    {% endif %}

    {% if content.bottom %}
      <div class="col-sm-12">
        {{ content.bottom }}
      </div>
    {% endif %}
  </div>
{% endif %}
