{#
/**
 * @file
 * Bootstrap Layouts: "TLW Homepage" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - slider
 * - top
 * - main
 * - middle
 * - bottom
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
<div class="umaia-homepage">
  <div class="row">
    <div class="col-xs-12">
      <div class="umaia-homepage__top">
        {{ content.top }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="umaia-homepage__smoked-background bg-edge2edge">
        <div class="container">
          {{ content.white_smoked_colored }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="umaia-homepage__twined-background bg-edge2edge">
        <div class="container">
          {{ content.twine_colored }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="umaia-homepage__middle-section">
        {{ content.middle }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="umaia-homepage__bottom-left-section">
        {{ content.left_bottom }}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="umaia-homepage__bottom-right-section">
        {{ content.right_bottom }}
      </div>
    </div>
  </div>
</div>
